:root {
--primary-text-color: #757575;
--secondary-text-color: #212121 ;
--tertiary-text-color: #FFFFFF;
--accent-text-color: #2196F3;
--logo-text:#000000;
--footer-text-color: rgba(255, 255, 255, 0.6);

--primary-bg-color: #FFFFFF;
--secondary-bg-color: #2F303A;
--section-bg-color: #F5F4FA;

--banner-bg-color: #C4C4C4;

--primary-bg-btn: #2196F3;
--secondary-bg-btn: #188CE8;

--primary-bg-btnfilter: #F5F4FA;
--secondary-bg-btnfilter: #2196F3;

--first-border: #ECECEC;

--team-list-bg: #FFFFFF;

--icon-color-accent: #FFFFFF;
--icon-color: #AFB1B8;
--icon-bg-color: #2196F3;

--clients-bg: #F5F5F5;

--icon-bg-footer: rgba(255, 255, 255, 0.1);
}

/* Плагіни та rezet */


/* * { 
    outline: 2px solid cornflowerblue;
}  */

h1, h2, h3, h4, h5, h6, ul, li, p {
    margin: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
}
/* ЗАГАЛЬНІ ЗНАЧЕННЯ */

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

ul {
    list-style: none;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}
h2, h3 {
    color:var(--secondary-text-color) ;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* HEADER */

.header-menu {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
} 

.header {
    border: 1px solid var(--first-border);
    background-color: var(--primary-bg-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: var(--logo-text);
}

.logo-web {
    color: var(--accent-text-color);
}

/* navigation */

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    color: var(--secondary-text-color);
}


/* contact */

.list-cont {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 30px;
}

.item-cont .link {
    padding: 32px 0;

    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;  
    margin-left: auto;
}

.cont-icon {
    fill: currentColor;
    margin-right: 10px;
} 

.link:hover,
.link:focus {
    color: var(--accent-text-color);
}

/* BANNER */

.banner-page {
    margin-left: auto;
    margin-right: auto;

    max-width: 1600px;
    height: 600px;

    background-color: var(--banner-bg-color-2);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) , rgba(47, 48, 58, 0.4) ),
    url(../images/banner.jpg) ;
    /* або можна дати перший фон за допомогою формата картинки (також працює, перевірено)
        PNG background-image: url(../images/Overlay.png),
    url(../images/banner.jpg) ;  */
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
}

.banner {
    padding: 200px 0;
}

.text-banner {
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;

    color: var(--tertiary-text-color);
}
.banner-btn {
    min-width: 216px;
    height: 50px;
    padding: 10px 24px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em; 
    
    color: var(--tertiary-text-color);
    background-color: var(--primary-bg-btn);

    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.banner-btn:hover,
.banner-btn:focus {
    background-color: var(--secondary-bg-btn);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}


/* СЕКЦІЯ З ОПИСОМ */

.list-descr {
    display: flex;
    gap: 30px;
}

.icon-descr {
    height: 70px;
    width: 70px;
    margin: 25px 100px;

}

.title-descr {
    margin-top: 30px;
    margin-bottom: 10px;

    text-transform: uppercase;
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.14;
}

.text-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}



/* СЕКЦІЯ: ЧИМ МИ ЗАЙМАЄМОСЯ */

.doing {
    margin-bottom: 94px;
}

.title-doing {
    margin-bottom: 50px;
}

.doing-list {
    display: flex;
    gap: 30px;
}

/* СЕКЦІЯ: НАША КОМАНДА */

.section-title {
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team {
    background-color: var(--section-bg-color);
} 

.team-item {
    background-color: var(--primary-bg-color);
}

.team-list .item {
    background: var(--team-list-bg);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.title-team,
.text-team {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.title-team {
    margin-top: 30px;
    margin-bottom: 10px;

    color: var(--secondary-text-color);
    font-weight: 500;
}

.text-team {
    font-weight: 400;
}

/* soc-icons */

.list-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 16px 32px 30px 32px;
}

.item-soc {
    padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.icon-item {
    fill: var(--icon-color);
}

.item-soc:hover,
.item-soc:focus {
    background: var(--icon-bg-color);
}

.icon-item:hover {
    fill: var(--icon-color-accent);
}

/* CLIENTS */
.clients {
    background-color: var(--clients-bg);
}

.list-clients {
    display: flex;
    gap: 30px;
}

/* .item-cli:not(:last-child) {
    margin-right: 30px;
} */

.link-cli {
}

.item-cli {
    height: 92px;
    width: 170px;
    padding: 16px 32px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.item-cli:hover {
    border: 1px solid #2196F3;
    border-radius: 4px;
}

.icon-cli {
    fill: var(--icon-color);
}

/* FOOTER */

.footer {
    display: flex;
}

.page-footer {
    background-color: var(--secondary-bg-color);
}

.footer-contact {
    margin: 60px 0;
}

.logo-white {
    color: var(--tertiary-text-color);
}

.footer-adress {
    margin-top: 20px;
}

.adress-item:not(:last-child) {
    margin-bottom: 9px;
}

.adress-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;  

    color: var(--footer-text-color);
}

.adress-link:hover,
.adress-link:focus {
    color: var(--accent-text-color);
}

.geo {
    color: var(--tertiary-text-color);
    width: 231px;
}

/* приєднуйтесь */

.text-soc {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--tertiary-text-color);
}

.header-soc {
    margin: 72px 0 100px 70px;
}


.list-join {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.item-join {
    margin-top: 20px;
    padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--icon-bg-footer);
}


.icon-join {
    fill: var(--icon-color-accent);
}

.item-join:hover {
    background: var(--icon-bg-color);
}

/* для portfolio.html */

/* FILTER */

.filter-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-bottom: 16px;
    min-width: 575px;
    margin-bottom: 34px;
}

.filter-btn {
    min-width: 73px;
    height: 38px;
    border: none;
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63; 
    cursor: pointer;

    color: var(--secondary-text-color);
    background-color: var(--primary-bg-btnfilter);
}

.filter-btn:hover,
.filter-btn:focus {
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

    color: var(--primary-bg-color);
    background-color: var(--secondary-bg-btnfilter);
}

/* Контент сторінки */

.main-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.main-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--secondary-text-color);
}

.text-border {
    padding: 20px 24px;

    background-color: var(--team-list-bg);
    border: 1px solid #EEEEEE; 
    border-top: none; 
}

.main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}
